*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gelasio', serif;
  }
  main{
    height: 100vh;
    width: 100vw;
    overflow: none;
    background:#000;
    color: #FFF;
  }
  form, label, main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form , label, main {
    flex-flow: column nowrap;
  }
  form{  
    border-radius: 10px;
  }
  label, input{
    text-align: center;
  }
  input {
    margin: 10%;
    border-radius: 10px;
    padding: 1em;
  }
  button {
    height: 2.5em;
    width: 8em;
    border-radius: 10px;
    background: red;
    color: #ffffff;
  }